*.pyc
/bin/
/include/
/lib/
/local/
/share/
/pip-selfcheck.json
/link-to-scrapy.cfg

src/data/enwiki-latest-all-titles-in-ns0

block-model-viz
combined-graphs
debug-viz
definition-cache
failed-definition-lookups
sentence-graphs-storage
sentence-graphs-visualization

scrapy-scrape-test*.json
